{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pożyczka na każdą kieszeń!</title>

    <link href="{%  static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{%  static 'affiliate/css/modern-business.css" rel="stylesheet' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Pożyczka Market</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">O nas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Slides -->
  <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'affiliate/images/alexander-mils-lCPhGxs7pww-unsplash.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'affiliate/images/dmitry-demidko-eBWzFKahEaU-unsplash.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'affiliate/images/carlos-muza-hpjSkU2UYSU-unsplash.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <!-- Portfolio Section -->
    <h1>Pożyczki na każdą kieszeń!</h1>

   <!-- calculator section -->

  <div class="price-box">
    <div class="row">
      <div class="col-sm-6">
        <form class="form-horizontal form-pricing" role="form">
          <div class="price-slider">
            <h4 class="great">Amount</h4>
            <span>Minimum $100K is required</span>
            <div class="col-sm-12">
              <div id="slider_amirol">
            </div>
          </div>
      </div>
      </div>
      </div>

      <div class="price-slider">
          <h4 class="great">Duration</h4>
            <span>Please choose one</span>
            <div class="btn-group btn-group-justified">
              <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-primary btn-lg btn-block month active-month selected-month" id='24month'>24 Months</button>
              </div>
              <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-primary btn-lg btn-block month" id='18month'>18 Months</button>
              </div>
              <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-primary btn-lg btn-block month" id='12month'>12 Months</button>
              </div>
            </div>
          </div>
          <div class="price-slider">
            <h4 class="great">Term</h4>
            <span>Please choose one</span>
            <input name="sliderVal" type="hidden" id="sliderVal" value='0' readonly="readonly" />
            <input name="month" type="hidden" id="month" value='24month' readonly="readonly" />
            <input name="term" type="hidden" id="term" value='quarterly' readonly="readonly" />
            <div class="btn-group btn-group-justified">
              <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-primary btn-lg btn-block term active-term selected-term" id='quarterly'>Quarterly</button>
              </div>
              <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-primary btn-lg btn-block term" id='monthly'>Monthly</button>
              </div>
              <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-primary btn-lg btn-block term" id='weekly'>Weekly</button>
              </div>
            </div>
          </div>
      <div class="col-sm-6">
        <div class="price-form">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="amount_amirol" class="control-label">Annually ($): </label>
                <span class="help-text">Amount that you need to pay</span>
              </div>
              <div class="col-sm-6">
                <input type="hidden" id="amount_amirol" class="form-control">
                <input class="price lead" name="totalprice" type="text" id="total" disabled="disabled" style="" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="amount_amirol" class="control-label">Monthly ($): </label>
                <span class="help-text">Amount that you need to pay</span>
              </div>
              <div class="col-sm-6">
                <input type="hidden" id="amount_amirol" class="form-control">
                <!-- <p class="price lead" id="total12"></p> -->
                <input class="price lead" name="totalprice12" type="text" id="total12" disabled="disabled" style="" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="amount_amirol" class="control-label">Weekly ($): </label>
                <span class="help-text">Amount that you need to pay</span>
              </div>
              <div class="col-sm-6">
                <input type="hidden" id="amount_amirol" class="form-control">
                <input class="price lead" name="totalprice52" type="text" id="total52" disabled="disabled" style="" />
              </div>
            </div>
          </div>
          <div style="margin-top:30px"></div>
          <hr class="style">

          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Proceed <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
          </div>
        </div>
      </div>


    <!-- Campaigns -->
    <div class="row">
        {% for post in view.posts %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{ post.title }}</a>
            </h4>
            <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MP 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{%  static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%  static 'affiliate/vendor/bootstrap/js/bootstrap.js' %}"></script>

</body>

</html>
